.hero {
  height: 700px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/sel-darah-merah.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
