.hero {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/sel-darah-merah.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.kuis-card__wrapper:hover .fill-ceria-text {
  fill: #f2e3c6;
  transition: fill 0.15s ease-in;
}
