.hero {
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/3d-glasses-clapper-board-movies.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#selengkapnya {
  display: none;
}
